d
#bg{
    background-color: white;
}

body{
    margin: 0px;
    padding: 0;
    background-color: #1e1e1e;
      
}
main{
    margin: 5%;
}
h1{
    text-align: center;
    margin-left: 0%;
    font-size: 50px;
  font-weight: bolder;
     
      
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(197, 83%, 47%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 25px 20px;
    display: block;
    text-align: center;
    font-weight:bold;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(197, 82%, 35%);
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-left: 0;
    margin-right: 60%;
  }
  
#lg{
    position: absolute;
    top: 630;
    font-size: 200%;
    font-weight: bold;
    margin-left: 0%;
    .underline {
        text-decoration: underline;
      }
      
}
.img_reg{
    position: absolute;
    left:530px;
    top: -40px;
    margin-bottom: 0%;
    width: 45%;
    height: 40%;
}
#hd{
    position: relative;
    top: 495px;
    font-size: 200%;
    .underline {
        text-decoration: underline;
      }

}
.img_feg{
    width: 45%;
    height: 40%;

}
.img_heg{
    
    width: 45%;
    height: 40%;
    

}
#ph{
    position: absolute; 
    right: 1161px;
    bottom: 190px;
    float: right;
    font-size: 200%;
    font-weight: bold;
    .underline {
        text-decoration: underline;
    }
    
}
#fill{
    font-size: 150%;
    font-weight: bold;
   text-align: center;
}
#move{
    position: relative; left: 570px;
    position: relative; top: 50px;

}
.img_meg{
    position: absolute;
    left: 530px;
    width: 45%;
    height: 300px;
    position: relative; bottom: 5px;
}
.img_teg{
    position: absolute;
    left: 600px;
    top: 245px;
    width: 45%;
    height: 50%;
}
.img_deg{
    width: 60%;
    position: absolute; 
    top: 25px;
}
#re{
    position: relative; top: 100px;
}
#list{
    font-size: 300%px;
    font-weight: bold;
}

.p1{
    position: absolute;
    right: 100px;
    
    
}

#lifeGuardText{
    position: absolute;
    top:695px;
}
#swimInstructorText{
    position: absolute;
    left:65px;
    top:980px;
}

.img_keg{
    position:absolute;
    width: 50%;
    top: 400px;
    left: 600px;
}
.benefitText{
    position: absolute;
    top: 850px;
}
#abouttext{
    position: absolute;
    top: 350px
}

#lifehead{
    position: absolute;
    top: 650px;
    font-size: 200%;
    font-weight: bold;
    .underline {
        text-decoration: underline;
    }
}

#rechead{
    font-size: 200%;
    font-weight: bold;
    .underline {
        text-decoration: underline;
    }
}

#insthead{
    font-size: 200%;
    font-weight: bold;
    .underline {
        text-decoration: underline;
    }
}

#list{
    font-size: 150%;
    position: absolute;
    right: 90px;
}
    
    
    

